.esqueceu-senha-container {
    transform: translateY(-75px);
}

.esqueceu-senha {
    transition: 0.3s ease;
}

.esqueceu-senha a {
    color: #fff;
    text-decoration: none;
}

.esqueceu-senha:hover {
    scale: 1.1;
}

.lembrar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-65px);
}

.lembrar-transform {
    transform: translateY(-85px);
}

.lembrar {
    transition: 0.3s ease;
}

.lembrar:hover {
    scale: 1.1;
}

.checkbox {
    margin-right: 5px;
}

.novo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40px);
}

.novo-transform {
    transform: translateY(-105px);
}

.novo-transform p {
    font-weight: 200;
}

.novo-transform a {
    font-weight: 600;
    text-decoration: none;
}

.novo {
    transition: 0.3s ease;
}

.novo:hover {
    scale: 1.1;
}

.novo a {
    color: #fff;
}

.captcha-container {
    transform: translateY(-125px);
}

.captcha-transform {
    transform: translateX(10px);
}

.captcha-transform p {
    font-size: 12px;
    color: #8b8b8b;
    width: 320px;
}

.captcha-transform a {
    text-decoration: none;
}