body {
    background-image: url('../img/Netflixbackground.jpg');
    background-size: 100%;
    font-family: 'Kumbh Sans';
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 420px;
    height: 703px;
    position: relative;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 8px;

}

.entrar {
    opacity: 1;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 65px;
}

.custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: rgba(22, 22, 22, 0.4);
    padding: 12px;
    border-radius: 3px;
    width: 285px;
    height: 50px;
    outline: none;
    font-size: 14px;
    ;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-field input:valid+.placeholder,
.custom-field input:focus+.placeholder {

    top: -1px;
    font-size: 10px;

}

.custom-field.one input {
    background: none;
    border: 2px solid #8b8b8b;
    transition: border-color 0.3s ease;
}

.custom-field.one input:valid,
.custom-field.one input:focus {
    border-color: #141414;
    transition-delay: 0.1s;
}

.custom-field.one input+.placeholder {
    padding: 0 5px;
    left: 8px;
}

.custom-field.one input:valid+.placeholder,
.custom-field.one input:focus+.placeholder {
    top: 4px;
    background: rgba(20, 20, 20, 0.4);
}

.entratbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e50914;
    color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    height: 40px;
    width: 290px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.logo {
    display: flex;
    margin-right: 970px;
    margin-top: 2px;
}

.logo img {
    width: 145px;
    height: auto;
}

.ou-class {
    font-weight: 300;
    font-size: 14px;
    color: #aaa;
    transform: translateY(-25px);
}

.codigo-acesso-container {
    transform: translateY(-50px);
}

.codigo-acesso-container .codigo-acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.4);
    color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    height: 40px;
    width: 290px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}


.entratbtn:hover {
    transform: scale(1.1);
    box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
    transition: 0.5s ease;
}

.codigo-acesso:hover {
    transform: scale(1.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.esqueceu-senha-container {
    transform: translateY(-75px);
}

.esqueceu-senha {
    transition: 0.3s ease;
}

.esqueceu-senha a {
    color: #fff;
    text-decoration: none;
}

.esqueceu-senha:hover {
    scale: 1.1;
}

.lembrar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-65px);
}

.lembrar-transform {
    transform: translateY(-85px);
}

.lembrar {
    transition: 0.3s ease;
}

.lembrar:hover {
    scale: 1.1;
}

.checkbox {
    margin-right: 5px;
}

.novo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40px);
}

.novo-transform {
    transform: translateY(-105px);
}

.novo-transform p {
    font-weight: 200;
}

.novo-transform a {
font-weight: 600;
text-decoration: none;
}

.novo {
    transition: 0.3s ease;
}

.novo:hover {
    scale: 1.1;
}

.novo a {
    color: #fff;
}

.captcha-container {
    transform: translateY(-125px);
}

.captcha-transform {
    transform: translateX(10px);
}

.captcha-transform p{
font-size: 12px;
color: #8b8b8b;
width: 320px;
}

.captcha-transform a {
    text-decoration: none;
}