body {
    background-image: url('../img/Netflixbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Kumbh Sans';
    color: #fff;
}

.logo {
    display: flex;
    margin-right: 970px;
    margin-top: 2px;
}

.logo img {
    width: 145px;
    height: auto;
}